* {
	list-style-type:none;
	text-decoration:none;
	margin:0;
	padding:0;
}

body {
	background:#f8f8f8;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:block;
}

*html .clearfix {
	height:1%;
}

*+html .clearfix {
	min-height:1%;
}

.nav_menu {
	height:42px;
	z-index:4;
	box-shadow:0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
	position:fixed;
}

.nav 
{
	width:1600px;
	height:41px;
	position:fixed;
	z-index:4;
	margin:0;
	background-color:#326698;
	border-bottom: 1px #326698 solid;
}

.nav .list a {
	float:left;
	display:block;
	width:125px;
	height:40px;
	text-align:center;
	font:bold 15px/36px YaHei;
	margin-top:0px;
	color:#fff;
}

.nav .list a:hover {
	color:#FFA304;
}

.nav .list a:hover,.nav .list .now {
	color:red;
	background:#326698
}

.nav .list a#time {
	color:#e8dfdf;
	width:210px;
	margin-left:-5px;
	margin-top: 2px;
	text-align:center;
	font:bold 15px/36px å®‹ä½“;
	display:inline-block;
	text-decoration:none;
	padding:0 16px;
}

.nav .list a#time:hover {
	color:#1b95e0;
}

.nav .list ul li a#listIT {
	color: #00f;
}

.nav .list ul li a#listIT:hover {
	background-color: #00f;
	color: #fff;
}

.nav .list ul li a#listNEWS {
	color: #0ee;
}

.nav .list ul li a#listNEWS:hover {
	background-color: #0ee;
	color: #fff;
}

.nav .list ul li a#listArticle {
	color: #000;
}

.nav .list ul li a#listArticle:hover {
	background-color: #000;
	color: #fff;
}
.nav .list ul li a#listClass {
	color: #ccc;
}

.nav .list ul li a#listClass:hover {
	background-color: #ccc;
	color: #fff;
}
.nav .list ul li a#listMedia {
	color: #f0f;
}

.nav .list ul li a#listMedia:hover {
	background-color: #f0f;
	color: #fff;
}
.nav .list ul li a#listCulture {
	color: #f00;
}

.nav .list ul li a#listCulture:hover {
	background-color: #f00;
	color: #fff;
}
.nav .list ul li a#listEntertm {
	color: #ee0;
}

.nav .list ul li a#listEntertm:hover {
	background-color: #ee0;
	color: #fff;
}
.nav .list ul li a#listLife {
	color: #0f0;
}

.nav .list ul li a#listLife:hover {
	background-color: #0f0;
	color: #fff;
}
.nav .box
{
	position:absolute;
	left:227px;
	top:42px;
	width:1000px;
	background-color: #326698;
	overflow:hidden;
	height:0;
	filter:alpha(opacity=0);
	opacity:0;
	border-bottom:2px solid #074c52;
}

.nav .cont {
	position:relative;
	padding:25px 0 0 24px;
	background-color: #326698;
}

.sublist li {
	float:left;
	width:168px;
	padding-right:24px;
	padding-bottom:24px;
}

.sublist li h3.mcate-item-hd {
	font-family: YaHei;
	padding-left:2px;
	font-size:14px;
	height:26px;
	line-height:26px;
	border-bottom:1px dashed #fff;
}

.sublist li p.mcate-item-bd {
	padding-left:2px;
}

.sublist li p.mcate-item-bd a {
	height:26px;
	line-height:26px;
	margin-right:5px;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	display:inline-block;
}

.sublist li p.mcate-item-bd a:hover {
	color:#000;
}

div.all {
	width: 100%;
	position:absolute;
	margin-top:0;
}

div.footer {
	background:rgba(0,0,0,.2);
	border-top:1px solid #e1e1e1;
	box-shadow:0 60px 0 #fff, 0 120px 0 #fff, 0 180px 0 #fff, 0 240px 0 #fff, 0 270px 60px #fff;
	color:#999;
	position:relative;
	width:100%;
	min-height:20px;
	padding:30px 0;
}

div.zxbfooter {
	margin-left:10px;
	height:90px;
}

li.tools {
	float:left;
	list-style-type:none;
	text-decoration:none;
	margin-top:10px;
	margin-left:20px;
	background-color: #fff;
}

a.tool {
	-moz-transition:background-color .7s ease;
	color:#4078c0;
	text-decoration:none;
	box-shadow:5px 5px 5px #888;
	border-radius:5px;
}

a.tool:hover {
	color:#fff;
	background:#a6a6a6;
}

div.copyright {
	text-align: center;
	margin-top:100px;
}

div.copyright a.copyright {
	position:relative;
	margin-top:50px;
	margin-bottom:50px;
}

img#backtop {
	margin-top:100px;
	position:fixed;
	text-decoration:none;
	right:100px;
	bottom:100px;
	height:45px;
	width:45px;
	z-index:20;
}

.nav .list li,.sbox ul li {
	float:left;
}

/*
* iframe
*/

div.arck {	
	margin-top: 0px;
	background-color:#f8f8f8;
	height:900px;
}
div.arck iframe {
	border: 0;
}