* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../../static/image/background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
}
.clr0 {
    font-weight: 700;
    color: #fff;
}
.clr1 {
    font-weight: 700;
    color: #f9e420;
}
.nav .list li,.sbox ul li {
    float: left;
}
.sbox ul li a {
    text-decoration: none;
    line-height: 50px;
    padding: 17.75px;
}
li.bgx {
    background-color: #000;
}
div.form {
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    width:860px;;
}
div.sbox {
    position: relative;
    margin-top:20px;
}
div.search_box {
    background-color: #000;
    width: 100%;
}
div.search_box #search_box {
    position: relative;
    border: 3px double #0093FD;
    height: 35px;
    width: 844px;
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
    cursor: text;
    background-color: #efefef;
    outline: none;
}
div.search_box #search_box:focus {
    background-color: #fff;
}
div.sbody {
    position: relative;
    top: 20px;
    left: -10px;
    width: 900px;
    float: left;
}
div.button {
    position: absolute;
    left: 900px;
}
div.button button{
    position: absolute;
    background-color: #007cff;
    border-radius: 100%;
    border: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}
div.button button#button1{
    top: 140px;
}
div.button button#button2{
    top: 200px;
}
div.button button#button3{
    top: 260px;
}
div.button button:active {
    background-color: red;
}
div#panel1 {
    position: fixed;
    background-color: #2f3d51;
    border-radius: 5px;
    width:860px;
    height:260px;
    top: 230px;
    left: 200px;
    z-index: 3;
    display: none;
}
div#panel2 {
    position: fixed;
    background-color: #2f3d51;
    border-radius: 5px;
    width:860px;
    height:260px;
    top: 230px;
    left: 200px;
    z-index: 3;
    display: none;
}
div#panel3 {
    position: fixed;
    background-color: #2f3d51;
    border-radius: 5px;
    width:860px;
    height:260px;
    top: 230px;
    left: 200px;
    z-index: 3;
    display: none;
}
.form .sbody i .btn {
    color: #fff;
}
.form .sbody i input, .form .sbody i input:hover {
    background: #ff4f0f;
    width: 150px;
}
.form .sbody i{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}